
.wpmoly.movie-headbox {
	margin: 2em auto;
	position: relative;
}

.wpmoly.movie-headbox.theme-default,
.wpmoly.movie-headbox.theme-extended {
	box-shadow: 0 0px 1px rgba(0, 0, 0, 0.15),
			0 1px 3px rgba(0, 0, 0, 0.15);
}

/*
 * Movie Headboxes
 */

.wpmoly.movie-headbox.theme-default .headbox-header,
.wpmoly.movie-headbox.theme-extended .headbox-header {
	background: #333;
	height: 15em;
	position: relative;
	width: 100%;
}

.wpmoly.movie-headbox.theme-default .headbox-header .headbox-backdrop-container,
.wpmoly.movie-headbox.theme-extended .headbox-header .headbox-backdrop-container {
	height: 100%;
	overflow: hidden;
	position: absolute;
	width: 100%;
	z-index: 0;
}

.wpmoly.movie-headbox.theme-default .headbox-header .headbox-backdrop,
.wpmoly.movie-headbox.theme-extended .headbox-header .headbox-backdrop {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	bottom: -1em;
	filter: blur(0.8em);
	-webkit-filter: blur(0.8em);
	left: -1em;
	opacity: 0.8;
	position: absolute;
	right: -1em;
	top: -1em;
}

.wpmoly.movie-headbox.theme-default .headbox-header .headbox-poster-shadow,
.wpmoly.movie-headbox.theme-extended .headbox-header .headbox-poster-shadow {
	background: #333;
	box-shadow: 0 0 2em rgba(0, 0, 0, 0.75);
	height: 100%;
	left: 1.5em;
	position: absolute;
	width: 10em;
}

.wpmoly.movie-headbox.theme-default .headbox-header .headbox-angle,
.wpmoly.movie-headbox.theme-extended .headbox-header .headbox-angle {
	background: #fff;
	bottom: -5%;
	box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.25);
	left: -10%;
	position: absolute;
	height: 3.75em;
	transform: rotate(-2deg);
	width: 120%;
}

.wpmoly.movie-headbox.theme-default .headbox-header .headbox-poster,
.wpmoly.movie-headbox.theme-extended .headbox-header .headbox-poster {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	float: left;
	height: 15em;
	left: 1.5em !important;
	max-width: 30%;
	position: relative;
	top: -1em !important;
	width: 10em;
	z-index: 2;
}

.wpmoly.movie-headbox.theme-default .headbox-header .headbox-titles,
.wpmoly.movie-headbox.theme-extended .headbox-header .headbox-titles {
	float: left;
	left: 3em !important;
	max-width: 60%;
	position: relative;
	top: 8em !important;
	z-index: 1;
}

.wpmoly.movie-headbox.theme-default .headbox-header .headbox-titles .movie-title,
.wpmoly.movie-headbox.theme-default .headbox-header .headbox-titles .movie-title a,
.wpmoly.movie-headbox.theme-extended .headbox-header .headbox-titles .movie-title,
.wpmoly.movie-headbox.theme-extended .headbox-header .headbox-titles .movie-title a {
	border: 0;
	box-shadow: 0 0 0;
	color: rgba(255, 255, 255, 0.85) !important;
	font-size: 1.25em !important;
	font-weight: 400 !important;
	margin: 0;
	padding: 0 !important;
	text-decoration: none;
}

.wpmoly.movie-headbox.theme-default .headbox-header .headbox-titles .movie-original-title,
.wpmoly.movie-headbox.theme-extended .headbox-header .headbox-titles .movie-original-title {
	color: rgba(255, 255, 255, 0.6);
	font-size: 0.875em;
	font-style: italic;
	font-weight: 400 !important;
	margin: -0.8rem 0 0.2rem 0.4rem;
}

.wpmoly.movie-headbox.theme-default .headbox-header .headbox-titles .movie-tagline,
.wpmoly.movie-headbox.theme-extended .headbox-header .headbox-titles .movie-tagline {
	color: rgba(255, 255, 255, 0.6);
	font-size: 0.875em;
	font-weight: 600 !important;
	margin-top: 0.5rem;
}

.wpmoly.movie-headbox.theme-default .headbox-content,
.wpmoly.movie-headbox.theme-extended .headbox-content {
	background: #fff;
	padding: 0 1.5em;
	position: relative;
	top: -2.25em;
	z-index: 1;
}

.wpmoly.movie-headbox.theme-default .headbox-content .headbox-cast,
.wpmoly.movie-headbox.theme-extended .headbox-content .headbox-menu {
	float: left;
	max-width: 30%;
	position: relative;
	top: 2em;
	width: 10em;
}

.wpmoly.movie-headbox.theme-default .headbox-content .headbox-cast .movie-director,
.wpmoly.movie-headbox.theme-default .headbox-content .headbox-cast .movie-actors,
/*.wpmoly.movie-headbox.theme-extended .headbox-content .headbox-cast .movie-director,
.wpmoly.movie-headbox.theme-extended .headbox-content .headbox-cast .movie-actors*/ {
	color: #444;
	font-size: 0.875em;
	font-weight: 600 !important;
	margin-bottom: 0.75em !important;
}

.wpmoly.movie-headbox.theme-default .headbox-content .headbox-metadata,
.wpmoly.movie-headbox.theme-extended .headbox-content .headbox-metadata {
	margin-left: 11.5em !important;
}

.wpmoly.movie-headbox.theme-default .headbox-content .headbox-metadata .headbox-release-info,
.wpmoly.movie-headbox.theme-extended .headbox-content .headbox-metadata .headbox-release-info {
	font-size: 1em !important;
	margin-bottom: 1.5em !important;
	margin-top: 0.25em !important;
}

.wpmoly.movie-headbox.theme-default .headbox-content .headbox-metadata .headbox-release-info > span,
.wpmoly.movie-headbox.theme-extended .headbox-content .headbox-metadata .headbox-release-info > span {
	padding-right: 1em;
	position: relative;
}

.wpmoly.movie-headbox.theme-default .headbox-content .headbox-metadata .headbox-release-info > span:not(:first-child)::after,
.wpmoly.movie-headbox.theme-extended .headbox-content .headbox-metadata .headbox-release-info > span:not(:first-child)::after {
	background: #888;
	content: ' ';
	height: 1em;
	left: -.75em;
	position: absolute;
	top: .05em;
	width: .15em;
}

.wpmoly.movie-headbox.theme-default .headbox-content .headbox-metadata .headbox-release-info a,
.wpmoly.movie-headbox.theme-extended .headbox-content .headbox-metadata .headbox-release-info a {
	border: 0;
	box-shadow: 0 0 0;
	text-decoration: none;
}

.wpmoly.movie-headbox.theme-default .headbox-content .headbox-metadata .headbox-release-info,
.wpmoly.movie-headbox.theme-default .headbox-content .headbox-metadata .headbox-release-info a,
.wpmoly.movie-headbox.theme-default .headbox-content .headbox-metadata .headbox-release-info .meta,
.wpmoly.movie-headbox.theme-extended .headbox-content .headbox-metadata .headbox-release-info,
.wpmoly.movie-headbox.theme-extended .headbox-content .headbox-metadata .headbox-release-info a,
.wpmoly.movie-headbox.theme-extended .headbox-content .headbox-metadata .headbox-release-info .meta {
	color: #888;
	font-size: 0.875em !important;
	font-weight: 600;
}

.wpmoly.movie-headbox.theme-default .headbox-content .headbox-metadata .headbox-release-info a,
.wpmoly.movie-headbox.theme-extended .headbox-content .headbox-metadata .headbox-release-info a {
	font-size: 1em !important;
}

.wpmoly.movie-headbox.theme-default .headbox-content .headbox-metadata .movie-overview,
.wpmoly.movie-headbox.theme-extended .headbox-content .headbox-metadata .movie-overview {
	color: #333;
	text-align: justify;
}

/* Headbox Default theme */

.wpmoly.movie-headbox.theme-default .headbox-more,
.wpmoly.movie-headbox.theme-default .headbox-less,
.wpmoly.movie-headbox.theme-default.collapsed .headbox-less {
	display: none;
}

.wpmoly.movie-headbox.theme-default.collapsed .headbox-more,
.wpmoly.movie-headbox.theme-default.collapse .headbox-less {
	display: block;
}

.wpmoly.movie-headbox.theme-default.collapsed .headbox-content {
	height: 14em;
	overflow: hidden;
}

.wpmoly.movie-headbox.theme-default.collapse .headbox-content {
	padding-bottom: 2em;
}

.wpmoly.movie-headbox.theme-default.collapsed .headbox-content:after {
	background-image: -moz-linear-gradient(top, transparent, #fff);
	bottom: .675em;
	content: '';
	height: 4em;
	left: 0;
	position: absolute;
	text-align: center;
	width: 100%;
}

.wpmoly.movie-headbox.theme-default .headbox-more,
.wpmoly.movie-headbox.theme-default .headbox-less {
	bottom: 0;
	display: block;
	position: absolute;
	text-align: center;
	width: 100%;
	z-index: 1;
}

.wpmoly.movie-headbox.theme-default .headbox-more button,
.wpmoly.movie-headbox.theme-default .headbox-less button {
	background: #fff;
	border: 0;
	box-shadow: 0 0 0;
	color: #888;
	outline: none;
	width: 100%;
}

.wpmoly.movie-headbox.theme-default .headbox-more button:hover,
.wpmoly.movie-headbox.theme-default .headbox-less button:hover {
	color: #444;
}

/* Headbox Extended theme */

.wpmoly.movie-headbox.theme-extended .headbox-content .headbox-metadata {
	margin-top: 2em;
	padding: 0 2em 0 1em;
}

.wpmoly.movie-headbox.theme-extended .headbox-content .headbox-metadata .movie-overview {
	font-size: 1.125em;
	font-weight: 300;
}

/*
 * Terms Headbox
 */

.wpmoly.term-headbox {
	background: #fff;
	border: 1px solid #e5e5e5;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	margin: 2em auto;
	position: relative;
}

.wpmoly.term-headbox .headbox-header,
.wpmoly.term-headbox .headbox-content {
	display: inline-block;
	vertical-align: top;
}

.wpmoly.term-headbox .headbox-header,
.wpmoly.term-headbox.theme-extended .headbox-header {
	margin: 2em 0 0 2em;
	width: 32%;
}

.wpmoly.term-headbox .headbox-header .headbox-thumbnail {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
	height: 15em;
	overflow: hidden;
}

.wpmoly.term-headbox .headbox-header .headbox-thumbnail img {
	height: auto;
	max-width: 100%;
	min-height: 15em;
	min-width: 100%;
	width: 100%;
}

.wpmoly.term-headbox .headbox-content,
.wpmoly.term-headbox.theme-extended .headbox-content {
	margin: 0;
	padding: 2em 1em;
	width: calc( 67% - 4em );
}

.wpmoly.term-headbox .headbox-content .headbox-title {
	font-size: 2em;
	font-weight: 300;
	margin: 0;
	padding: 0;
}

.wpmoly.term-headbox .headbox-content .headbox-subtitle {
	font-size: 0.9rem;
	font-weight: 300;
	margin: -0.25rem 0 0;
	padding: 0;
}

/* Headbox Default theme */

.wpmoly.term-headbox.theme-default {
	max-height: 12.5em;
}

.wpmoly.term-headbox.theme-default .headbox-header {
	margin: -1.25rem 0 0 1rem;
}

.wpmoly.term-headbox.theme-default .headbox-content {
	height: calc( 100% - 4em );
	margin: 2em 1.5em;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: calc( 67% - 3.5em );
}

/* Hover Effect */

.wpmoly.term-headbox:hover,
.wpmoly.term-headbox:hover .headbox-header .headbox-thumbnail {
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
}
