
/*
 * Movie Grid
 */

.wpmoly.grid {
	display: block;
	float: none;
	position: relative;
}

.wpmoly.grid a:focus,
.wpmoly.grid button:focus {
	outline: none;
}

.wpmoly.grid .grid-json {
	display: none;
	opacity: 0;
	visibility: hidden;
}

.wpmoly.grid.actors {}

.wpmoly.grid.genres {}

/* Main menu  */

.wpmoly.grid noscript {
	background: #fff;
	border: 1px solid #e5e5e5;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	display: block;
	font-size: .9em;
	font-style: italic;
	padding: 1em 1.5em;
}

.wpmoly.grid .grid-menu-inner {
	background: #fff;
	border: 1px solid #e5e5e5;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	height: 3em;
	line-height: 3em;
	padding: 0;
}

.wpmoly.grid .grid-menu-inner .button,
.wpmoly.grid .grid-menu-inner .button .wpmolicon {
	height: 3em;
	line-height: 3em;
	padding: 0;
	width: 3em;
}

.wpmoly.grid .grid-menu-inner .button.disabled {
	background: transparent !important;
	opacity: 0.4;
}

.wpmoly.grid .grid-menu-inner .button.disabled,
.wpmoly.grid .grid-menu-inner .button.disabled:hover,
.wpmoly.grid .grid-menu-inner .button.disabled:focus,
.wpmoly.grid .grid-menu-inner .button.disabled:active,
.wpmoly.grid .grid-menu-inner [disabled="disabled"].button,
.wpmoly.grid .grid-menu-inner [disabled="disabled"].button:hover,
.wpmoly.grid .grid-menu-inner [disabled="disabled"].button:focus,
.wpmoly.grid .grid-menu-inner [disabled="disabled"].button:active {
	color: #666;
}

/* Settings */

.wpmoly.grid .grid-customs-inner,
.wpmoly.grid .grid-settings-inner {
	background: #fff;
	border: 1px solid #e5e5e5;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	display: none;
	margin-top: -1px;
	position: relative;
}

.wpmoly.grid .grid-customs-inner.active,
.wpmoly.grid .grid-settings-inner.active {
	display: block;
}

.wpmoly.grid .grid-customs-inner:before,
.wpmoly.grid .grid-customs-inner:after,
.wpmoly.grid .grid-settings-inner:before,
.wpmoly.grid .grid-settings-inner:after {
	border: .5em solid transparent;
	content: ' ';
	position: absolute;
}

.wpmoly.grid .grid-customs-inner:before {
	border-bottom-color: #ddd;
	right: 1em;
	top: -1em;
}

.wpmoly.grid .grid-settings-inner:before {
	border-bottom-color: #ddd;
	left: 1em;
	top: -1em;
}

.wpmoly.grid .grid-customs-inner:after {
	border-bottom-color: #fff;
	right: 1em;
	margin-top: 1px;
	top: -1em;
}

.wpmoly.grid .grid-settings-inner:after {
	border-bottom-color: #fff;
	left: 1em;
	margin-top: 1px;
	top: -1em;
}

.wpmoly.grid .grid-customs-inner,
.wpmoly.grid .grid-settings-inner {
	padding: 1em;
}

.wpmoly.grid .grid-custom-section,
.wpmoly.grid .grid-setting-section {
	border-top: 1px solid #e5e5e5;
	padding-top: 1em;
}

.wpmoly.grid .grid-custom-section:first-child,
.wpmoly.grid .grid-setting-section:first-child {
	border: 0;
	padding: 0;
}

.wpmoly.grid .grid-custom-block,
.wpmoly.grid .grid-setting-block {
	margin-bottom: .75em;
	padding-bottom: .75em;
	vertical-align: top;
}

.wpmoly.grid .grid-custom-block.full-col,
.wpmoly.grid .grid-setting-block.full-col {
	border-bottom: 1px solid #f6f6f6;
}

.wpmoly.grid .grid-custom-block.half-col,
.wpmoly.grid .grid-setting-block.half-col {
	border-right: 1px solid #f6f6f6;
	display: inline-block;
	padding: 0 0 0 .5em;
	width: calc(50% - .25em);
}

.wpmoly.grid .grid-custom-block.half-col:nth-child(odd),
.wpmoly.grid .grid-setting-block.half-col:nth-child(odd) {
	border: 0;
	padding: 0;
}

.wpmoly.grid .grid-custom-label,
.wpmoly.grid .grid-setting-label {
	color: #888;
	font-size: .875em;
}

.wpmoly.grid .grid-custom-block.letter-setting,
.wpmoly.grid .grid-setting-block.letter-setting {
	text-align: center;
}

.wpmoly.grid .grid-custom-block input[type="radio"],
.wpmoly.grid .grid-setting-block input[type="radio"],
.wpmoly.grid .grid-custom-block input[type="checkbox"],
.wpmoly.grid .grid-setting-block input[type="checkbox"] {
	height: 1px;
	position: absolute;
	visibility: hidden;
	width: 1px;
}

.wpmoly.grid .grid-custom-block label,
.wpmoly.grid .grid-setting-block label {
	border-radius: .1em;
	cursor: pointer;
	display: inline-block;
	padding: 0 .5em;
}

.wpmoly.grid .grid-custom-block label:hover,
.wpmoly.grid .grid-setting-block label:hover {
	background: #8dc2e1;
	color: #fff;
}

.wpmoly.grid .grid-custom-block input:checked ~ label,
.wpmoly.grid .grid-setting-block input:checked ~ label {
	background: #3190c6;
	color: #fff;
}

.wpmoly.grid .grid-customs-apply,
.wpmoly.grid .grid-settings-apply {
	background: #8dc2e1;
	color: #fff;
	display: block;
	font-size: 1em;
	font-weight: 400;
	margin-top: 1em;
	width: 100%;
}

.wpmoly.grid .grid-customs-apply:hover,
.wpmoly.grid .grid-settings-apply:hover {
	background: #3190c6;
}

/* Pagination Menu */

.wpmoly.grid .grid-menu.pagination-menu {
	text-align: center;
}

.wpmoly.grid .grid-menu .pagination-menu {
	display: inline-block;
	font-size: 0.85em;
	margin: 0 auto;
	padding: 0;
}

.wpmoly.grid .grid-menu .pagination-menu span {
	display: inline-block;
	line-height: 3em;
	vertical-align: middle;
}

.wpmoly.grid .grid-menu .pagination-menu input {
	box-shadow: 0 0 0;
	padding: 0 4px;
	text-align: center;
	width: auto;
}

.wpmoly.grid .grid-menu .pagination-menu .button {
	height: 3em;
	line-height: 3em;
	padding: 0;
	width: 3em;
}

/* Content */

.wpmoly.grid .grid-content {
	padding: 15px 0;
}

.wpmoly.grid .grid-content a {
	border: 0;
	box-shadow: 0 0 0;
	text-decoration: none;
}

.wpmoly.grid .grid-content-inner {
	min-height: 8em;
	padding: 15px 0;
}

.wpmoly.grid .grid-content-inner.loading {
	background: url(../img/oval.svg) center center no-repeat;
}

/*
 * Default Grid Content
 */

.wpmoly.grid .grid-content .grid {
	display: block;
	float: none;
	margin: 0 -4px;
}

.wpmoly.grid .grid-content .grid .node {
	float: left;
	margin: 0 4px 16px 4px;
	min-height: 240px;
	min-width: 160px;
	width: calc( 20% - 8px );
}

.wpmoly.grid .grid-content .grid.loading .node {
	opacity: .25;
}

.wpmoly.grid .grid-content .grid .node.adjusted {
	min-height: auto;
	min-width: auto;
}

.wpmoly.grid .grid-content .grid .node-term {
	float: left;
	margin: 0 4px 16px 4px;
	min-height: 200px;
	min-width: 160px;
	width: calc( 20% - 8px );
}

.wpmoly.grid .grid-content .grid .node .node-picture {
	height: 200px;
	width: 160px;
}

.wpmoly.grid .grid-content .grid .node .node-poster,
.wpmoly.grid .grid-content .grid .node .node-thumbnail {
	background-image: url(../img/poster-small.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	float: none;
	height: 240px;
	max-height: 100%;
	max-width: 100%;
	width: 160px;
}

.wpmoly.grid .grid-content .grid .node .node-title,
.wpmoly.grid .grid-content .grid .node .node-name {
	font-weight: 600;
	margin-top: 6px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/*
 * List Grid Content
 */

.wpmoly.grid .grid-content .list {
	padding: 2em 0;
}

.wpmoly.grid .grid-content .list.nodes-list,
.wpmoly.grid .grid-content .nodes-1-column-list.nodes-list {
	column-count: 2;
	column-gap: 1em;
	-moz-column-count: 2;
	-moz-column-gap: 1em;
	-webkit-column-count: 2;
	-webkit-column-gap: 1em;
}

.wpmoly.grid .grid-content .nodes-2-columns-list.nodes-list {
	column-count: 2;
	column-gap: 1em;
	-moz-column-count: 2;
	-moz-column-gap: 1em;
	-webkit-column-count: 2;
	-webkit-column-gap: 1em;
}

.wpmoly.grid .grid-content .nodes-3-columns-list.nodes-list {
	column-count: 3;
	column-gap: 1em;
	-moz-column-count: 3;
	-moz-column-gap: 1em;
	-webkit-column-count: 3;
	-webkit-column-gap: 1em;
}

.wpmoly.grid .grid-content .nodes-4-columns-list.nodes-list {
	column-count: 4;
	column-gap: 1em;
	-moz-column-count: 4;
	-moz-column-gap: 1em;
	-webkit-column-count: 4;
	-webkit-column-gap: 1em;
}

.wpmoly.grid .grid-content .nodes-5-columns-list.nodes-list {
	column-count: 5;
	column-gap: 1em;
	-moz-column-count: 5;
	-moz-column-gap: 1em;
	-webkit-column-count: 5;
	-webkit-column-gap: 1em;
}

.wpmoly.grid .grid-content .nodes-6-columns-list.nodes-list {
	column-count: 6;
	column-gap: 1em;
	-moz-column-count: 6;
	-moz-column-gap: 1em;
	-webkit-column-count: 6;
	-webkit-column-gap: 1em;
}

.wpmoly.grid .grid-content .list.nodes-list {
	margin: 0;
}

.wpmoly.grid .grid-content .list.nodes-list .node {
	break-inside: avoid-column;
	page-break-inside: avoid;
	-webkit-column-break-inside: avoid;
	clear: both;
	float: none;
	list-style: none;
	margin: 0 0 0.25rem 0;
	min-height: 2rem;
	min-width: auto;
	padding: 0 1em;
	width: auto;
}

.wpmoly.grid .grid-content .list.nodes-list .node-picture,
.wpmoly.grid .grid-content .list.nodes-list .node-thumbnail {
	background-color: #ccd;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% auto;
	border-radius: 0.15rem;
	float: left;
	height: 2rem;
	margin-right: .5rem;
	width: 2rem;
}

.wpmoly.grid .grid-content .list.nodes-list .node-count {
	font-size: .75rem;
	margin-top: -.75rem;
}

/*
 * Archive Grid Content
 */

.wpmoly.grid .grid-content .archive {
	padding: 3em 0 2em 0;
}

.wpmoly.grid .grid-content .archive .node {
	float: none;
	margin-bottom: 4em;
}

/*
 * Default Grid Theme
 */

.wpmoly.grid.theme-default .grid-content .grid .node .node-poster,
.wpmoly.grid.theme-default .grid-content .grid .node .node-picture {
	border-radius: 0.25rem;
	box-shadow: 0 2px 2px #bbb;
	margin: 0 0 0.5rem 0;
	position: relative;
}

.wpmoly.grid.theme-default .grid-content .grid .node .node-poster a,
.wpmoly.grid.theme-default .grid-content .grid .node .node-picture a {
	box-shadow: 0 0 0;
	height: 100%;
	position: absolute;
	text-decoration: none;
	width: 100%;
}

.wpmoly.grid.theme-default .grid-content .grid .movie .movie-title,
.wpmoly.grid.theme-default .grid-content .grid .movie .movie-genres,
.wpmoly.grid.theme-default .grid-content .grid .movie .movie-runtime,
.wpmoly.grid.theme-default .grid-content .grid .node .node-name,
.wpmoly.grid.theme-default .grid-content .grid .node .node-count {
	padding: 0 0.25em;
}

.wpmoly.grid.theme-default .grid-content .grid .movie .movie-title,
.wpmoly.grid.theme-default .grid-content .grid .movie .movie-genres,
.wpmoly.grid.theme-default .grid-content .grid .node .node-name,
.wpmoly.grid.theme-default .grid-content .grid .node .node-count {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.wpmoly.grid.theme-default .grid-content .grid .movie .movie-title a,
.wpmoly.grid.theme-default .grid-content .grid .node .node-name a {
	color: #2f5066;
	font-size: 0.9em;
	font-weight: bold;
	text-decoration: none;
}

.wpmoly.grid.theme-default .grid-content .grid .movie .movie-genres {
	color: #728999;
	font-size: 0.8em;
}

.wpmoly.grid.theme-default .grid-content .grid .movie .movie-genres a {
	color: #728999;
	text-decoration: none;
}

.wpmoly.grid.theme-default .grid-content .grid .movie .movie-runtime,
.wpmoly.grid.theme-default .grid-content .grid .node .node-count {
	color: #728999;
	font-size: 0.8em;
}

