
/*
 * Search Form
 */

#grid-content-import {
	text-align: center;
}

#importer-search-form {
	padding-top: 96px;
	
}

#importer-search-query {
	background: transparent;
	border: 0;
	border-bottom: 1px solid #ccc;
	box-shadow: 0 0 0;
	font-size: 1.75rem;
	font-weight: 100;
	max-width: 36rem;
	padding: 0.25rem 1rem;
	width: 50%;
}

#importer-search {
	color: #bbb;
	text-decoration: none;
}

#importer-search span {
	font-size: 2.25rem;
	height: 3rem;
	line-height: 3rem;
	margin-left: -3.5rem;
	width: 3rem;
}

#importer-add {
	font-size: 11px;
	opacity: 0.6;
}

/*
 * Search Results
 */

#importer-search-results {
	border-top: 1px solid #ddd;
	display: inline-block;
	padding-top: 12px;
	position: relative;
	text-align: center;
}

#importer-search-result:before,
#importer-search-result:after {
	border: 12px solid transparent;
	content: '';
	height: 0;
	left: 33%;
	position: absolute;
	width: 0;
}

#importer-search-result:before {
	border-bottom-color: #bbb;
	top: -24px;
}

#importer-search-result:after {
	border-bottom-color: #f1f1f1;
	top: -23px;
}

#importer-search-results .attachments.movies .attachment.movie.search-result {
	height: 270px;
	width: 180px;
}







