
body.wp-admin.wp-core-ui.wpmoly-grid-editor.edit-php.post-type-movie .wrap > *,
body.wp-admin.wp-core-ui.wpmoly-grid-editor.edit-php.post-type-movie #screen-meta-links {
	display: none;
}

body.wp-admin.wp-core-ui.wpmoly-grid-editor.edit-php.post-type-movie .wrap h2,
body.wp-admin.wp-core-ui.wpmoly-grid-editor.edit-php.post-type-movie .wrap #movie-grid-frame {
	display: block;
}

.media-modal.movie-modal {
	bottom: 20px;
	left: 180px;
	right: 20px;
	top: 50px;
}

/*
 * Edit Movie Modal
 */

.media-modal.movie-modal.edit-movie-modal .edit-movie-header .preview {
	background-color: transparent;
	border: 0;
	border-left: 1px solid #ddd;
	color: #777;
	cursor: pointer;
	height: 50px;
	padding: 0;
	position: absolute;
	right: 152px;
	text-align: center;
	-webkit-transition: color .1s ease-in-out, background .1s ease-in-out;
	        transition: color .1s ease-in-out, background .1s ease-in-out;
	width: 50px;
}

.media-modal.movie-modal.edit-movie-modal .edit-movie-header .preview:hover {
	background: #a2ce51;
	border-color: #a2ce51;
	color: #fff;
}

.media-modal.movie-modal.edit-movie-modal .edit-movie-header .preview:hover::before {
	color: inherit;
}

.media-modal.movie-modal.edit-movie-modal .edit-movie-header .preview::before {
	cursor: default;
	font-family: 'wpmovielibrary';
	pointer-events: none;
}

.media-modal.movie-modal.edit-movie-modal .edit-movie-header .edit {
	display: none;
}

.media-modal.movie-modal.edit-movie-modal .edit-movie-header .preview::before {
	content: "\e62a";
}

.media-modal.movie-modal.edit-movie-modal .edit-movie-header .right {
	border-right: 1px solid #ddd;
	right: 50px;
}

.media-modal.movie-modal.edit-movie-modal .edit-movie-header .left:hover,
.media-modal.movie-modal.edit-movie-modal .edit-movie-header .right:hover {
	background: #2ea2cc;
	border-color: #2ea2cc;
	box-shadow: 0 0 0;
	color: #fff;
}

.media-modal.movie-modal.edit-movie-modal .edit-movie-header .right:focus {
	background: #fff;
	border-color: #ddd;
	color: #444;
}

.media-modal.movie-modal.edit-movie-modal .media-modal-close {
	box-shadow: 0 0 0;
	height: 50px;
	line-height: 50px;
	text-align: center;
	top: 0;
	right: 0;
	width: 50px;
}

.media-modal.movie-modal.edit-movie-modal .media-modal-close span.media-modal-icon {
	margin-top: 0;
	width: 50px;
	height: 50px;
}

.media-modal.movie-modal.edit-movie-modal .media-modal-close:hover {
	background: #ff7966;
	color: #fff;
}

.media-modal.movie-modal.edit-movie-modal .media-modal-close:hover .media-modal-icon::before {
	color: inherit;
}

.media-modal.movie-modal.edit-movie-modal .movie-frame-title {
	right: 202px;
}

.media-modal.movie-modal.edit-movie-modal .movie-frame-title h1 {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}

/*
 * Preview Movie Modal
 */

.media-modal.movie-modal.preview-movie-modal {
	
}

.media-modal.movie-modal.preview-movie-modal .movie-frame-title {
	display: none;
}

.media-modal.movie-modal.preview-movie-modal .movie-frame-content {
	border: 0;
	overflow: hidden;
	top: 0;
}

.media-modal.movie-modal.preview-movie-modal .edit-movie-header .preview {
	display: none;
}

.media-modal.movie-modal.preview-movie-modal .edit-movie-header .edit {
	position: absolute;
	z-index: 9;
}

.media-modal.movie-modal.preview-movie-modal .edit-movie-header .edit:hover {
	
}

.media-modal.movie-modal.preview-movie-modal .edit-movie-header .edit::before {
	content: "\e605";
	font-family: "wpmovielibrary";
}

.media-modal.movie-modal.preview-movie-modal .edit-movie-header .edit:hover::before {
	
}

.media-modal.movie-modal.preview-movie-modal .edit-movie-header .edit::before {
	
}

.media-modal.movie-modal.preview-movie-modal .movie-frame-content .movie-preview {
	height: 100%;
	width: 100%;
}

.media-modal.movie-modal.preview-movie-modal .movie-frame-content .movie-preview-poster {
	float: left;
	height: 100%;
	position: relative;
	width: 36%;
}

.media-modal.movie-modal.preview-movie-modal .movie-frame-content .movie-preview-poster img {
	height: auto;
	max-width: 100%;
	width: 100%;
}

.media-modal.movie-modal.preview-movie-modal .movie-frame-content .movie-preview-content {
	float: left;
	height: 100%;
	width: 64%;
}

.media-modal.movie-modal.preview-movie-modal .movie-frame-content .movie-preview-content .movie-preview-header,
.media-modal.movie-modal.preview-movie-modal .movie-frame-content .movie-preview-content .movie-preview-details,
.media-modal.movie-modal.preview-movie-modal .movie-frame-content .movie-preview-content .movie-preview-meta {
	padding: 24px 30px;
}

.media-modal.movie-modal.preview-movie-modal .movie-frame-content .movie-preview-content .movie-preview-header.with-background {
	background-color: #fff;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	padding-top: 120px;
	position: relative;
}

.media-modal.movie-modal.preview-movie-modal .movie-frame-content .movie-preview-content .movie-preview-header.with-background:before {
	box-shadow: 0 -16px 24px #162329, 0 -64px 48px #162329;
	bottom: -120px;
	content:'';
	height: 120px;
	left: -10%;
	position: absolute;
	width: 120%;
}

.media-modal.movie-modal.preview-movie-modal .movie-frame-content .movie-preview-content .movie-preview-header.with-background:before {
	z-index: 1;
}

.media-modal.movie-modal.preview-movie-modal .movie-frame-content .movie-preview-content .movie-preview-header.with-background.default-background:after {
	background: #162329;
	content:'';
	height: 100%;
	left: 0;
	opacity: 0.5;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 0;
}

.media-modal.movie-modal.preview-movie-modal .movie-frame-content .movie-preview-content .movie-title {
	font-size: 24px;
	font-weight: 400;
	margin: 12px 0 4px 0;
}

.media-modal.movie-modal.preview-movie-modal .movie-frame-content .movie-preview-content .movie-title .year {
	font-size: 14px;
	color: #777;
}

.media-modal.movie-modal.preview-movie-modal .movie-frame-content .movie-preview-content .movie-genres {
	color: #777;
	font-size: 14px;
	margin: 0;
}

.media-modal.movie-modal.preview-movie-modal .movie-frame-content .movie-preview-content .movie-preview-header.with-background .movie-title,
.media-modal.movie-modal.preview-movie-modal .movie-frame-content .movie-preview-content .movie-preview-header.with-background .movie-title .year,
.media-modal.movie-modal.preview-movie-modal .movie-frame-content .movie-preview-content .movie-preview-header.with-background .movie-genres {
	position: relative;
	z-index: 2;
}

.media-modal.movie-modal.preview-movie-modal .movie-frame-content .movie-preview-content .movie-preview-header.with-background .movie-title {
	color: #fdfdfd;
}

.media-modal.movie-modal.preview-movie-modal .movie-frame-content .movie-preview-content .movie-preview-header.with-background .movie-title .year,
.media-modal.movie-modal.preview-movie-modal .movie-frame-content .movie-preview-content .movie-preview-header.with-background .movie-genres {
	color: #ddd;
}

/*
 * WPMOLY Movie Grid
 */

#movie-grid-frame {
	position: relative;
}

/*
 * Grid menu
 */

#grid-menu .movie-menu.wp-filter {
	min-height: 48px;
	padding: 0;
}

#grid-menu .media-toolbar-secondary {
	min-height: 46px;
}

#grid-menu .movie-menu.wp-filter .view-switch {
	padding: 0;
}

#grid-menu .movie-menu.wp-filter .view-switch a {
	border-right: 1px solid #e6e6e6;
	display: inline-block;
	height: 48px;
	line-height: 48px;
	margin: 0;
	width: 48px;
}

#grid-menu .movie-menu.wp-filter .view-switch a:hover,
#grid-menu .movie-menu.wp-filter .view-switch a.current {
	background: #2ea2cc;
	border-color: #2ea2cc;
	color: #efefef;
}

#grid-menu .movie-menu.wp-filter .view-switch a.movie-grid-import:hover,
#grid-menu .movie-menu.wp-filter .view-switch a.movie-grid-import.current {
	background: #a2ce51;
	border-color: #a2ce51;
	color: #efefef;
}

#grid-menu .movie-menu.wp-filter .view-switch a:hover span.wpmolicon::before,
#grid-menu .movie-menu.wp-filter .view-switch a:hover span.dashicons::before,
#grid-menu .movie-menu.wp-filter .view-switch a.current span.wpmolicon::before,
#grid-menu .movie-menu.wp-filter .view-switch a.current span.dashicons::before {
	color: inherit;
}

#grid-menu .movie-menu.wp-filter .view-switch a:focus {
	box-shadow: 0 0 0;
}

#grid-menu .movie-menu.wp-filter .view-switch a span.wpmolicon,
#grid-menu .movie-menu.wp-filter .view-switch a span.dashicons {
	height: 48px;
	width: 48px;
	line-height: 48px;
}

#grid-menu .movie-menu.wp-filter .view-switch a span.wpmolicon::before,
#grid-menu .movie-menu.wp-filter .view-switch a span.dashicons::before {
	color: #bbb;
}

#grid-menu .movie-menu.wp-filter .search-form {
	margin: 0;
}

/*
 * Grid content
 */

.grid-frame-content .attachments.movies {
	padding-bottom: 100px;
}

.grid-frame-content .attachments.movies.loading {
	background: url(../../img/oval.svg) center bottom no-repeat;
	background-size: 36px 36px;
}

.grid-frame-content .attachments.movies .attachment.movie {
	cursor: auto;
	display: inline-block;
	float: none;
	margin: 12px;
	padding: 0;
	vertical-align: top;
}

.grid-frame-content .attachments.movies .attachment.movie .attachment-preview.movie-preview {
	box-shadow: 0 0 0;
	display: block;
	height: 100%;
	position: relative;
	width: 100%;
}

.grid-frame-content .attachments.movies .attachment.movie .attachment-preview.movie-preview:hover {
	cursor: default;
}

.grid-frame-content .attachments.movies .attachment.movie .attachment-preview.movie-preview::before {
	content: "";
	display: none;
	padding-top: 0;
}

.grid-frame-content .attachments.movies .attachment.movie .attachment-preview.movie-preview .movie-action {
	box-shadow: 0 0 0;
	display: none;
	position: absolute;
	z-index: 10;
}

.grid-frame-content .attachments.movies .attachment.movie .attachment-preview.movie-preview:hover .movie-action {
	display: block;
}

.grid-frame-content .attachments.movies .attachment.movie .attachment-preview.movie-preview .movie-action.center {
	background: #fff;
	border-radius: 24px;
	left: 50%;
	height: 42px;
	margin: -22px 0 0 -20px;
	text-decoration: none;
	top: 50%;
	width: 42px;
}

.grid-frame-content .attachments.movies .attachment.movie .attachment-preview.movie-preview .movie-action.center span.wpmolicon {
	height: 42px;
	line-height: 42px;
	width: 42px;
}

.grid-frame-content .attachments.movies .attachment.movie .attachment-preview.movie-preview .movie-action.top-right {
	color: #efefef;
	right: 12px;
	text-decoration: none;
	top: 12px;
}

.grid-frame-content .attachments.movies .attachment.movie .attachment-preview.movie-preview .movie-action.bottom-left {
	bottom: 12px;
	left: 12px;
}

.grid-frame-content .attachments.movies .attachment.movie .attachment-preview.movie-preview .movie-status .wpmolicon.icon-available:before,
.grid-frame-content .attachments.movies .attachment.movie .attachment-preview.movie-preview .movie-status .wpmolicon.icon-loaned:before,
.grid-frame-content .attachments.movies .attachment.movie .attachment-preview.movie-preview .movie-status .wpmolicon.icon-scheduled:before,
.grid-frame-content .attachments.movies .attachment.movie .attachment-preview.movie-preview .movie-status .wpmolicon.icon-unavailable:before {
	content: '\f10c';
}

.grid-frame-content .attachments.movies .attachment.movie .attachment-preview.movie-preview .movie-status .wpmolicon.icon-available {
	color: #a2ce51;
}

.grid-frame-content .attachments.movies .attachment.movie .attachment-preview.movie-preview .movie-status .wpmolicon.icon-loaned {
	color: #ffc335;
}

.grid-frame-content .attachments.movies .attachment.movie .attachment-preview.movie-preview .movie-status .wpmolicon.icon-scheduled {
	color: #2ea2cc;
}

.grid-frame-content .attachments.movies .attachment.movie .attachment-preview.movie-preview .movie-status .wpmolicon.icon-unavailable {
	color: #ff7966;
}

.grid-frame-content .attachments.movies .attachment.movie .attachment-preview.movie-preview .movie-action.bottom-right {
	bottom: 12px;
	color: #ffc335;
	right: 12px;
}

.grid-frame-content .attachments.movies .attachment.movie .attachment-preview.movie-preview .poster {
	background: #162329;
	border-radius: 4px;
	height: 100%;
	width: 100%;
}

.grid-frame-content .attachments.movies .attachment.movie .attachment-preview.movie-preview .poster img {
	border-radius: 4px;
	height: 100%;
	left: 0;
	position: absolute;
	width: 100%;
}

.grid-frame-content .attachments.movies .attachment.movie .attachment-preview.movie-preview:hover .poster img {
	opacity: 0.1;
}

.grid-frame-content .attachments.movies .attachment.movie .attachment-meta.movie-meta {
	display: block;
	line-height: 1rem;
	padding: 8px 4px;
	text-align: left;
}

.grid-frame-content .attachments.movies .attachment.movie .attachment-meta.movie-meta .movie-title {
	color: #2f6277;
	font-weight: 600;
	overflow: hidden;
	padding-right: 6px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.grid-frame-content .attachments.movies .attachment.movie .attachment-meta.movie-meta .movie-genres {
	color: #7d8b92;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.grid-frame-content .attachments.movies .attachment.movie .attachment-meta.movie-meta .movie-year {
	color: #7d8b92;
	float: right;
}

.grid-frame-content .attachments.movies .attachment.movie .attachment-meta.movie-meta .movie-runtime {
	color: #7d8b92;
}

.grid-frame-content[data-columns="1"] .attachment.movie {
	width: 100%;
}

.grid-frame-content[data-columns="2"] .attachment.movie {
	width: 50%;
}

.grid-frame-content[data-columns="3"] .attachment.movie {
	width: 33.33%;
}

.grid-frame-content[data-columns="4"] .attachment.movie {
	width: 25%;
}

.grid-frame-content[data-columns="5"] .attachment.movie {
	width: 20%;
}

.grid-frame-content[data-columns="6"] .attachment.movie {
	width: 16.66%;
}

.grid-frame-content[data-columns="7"] .attachment.movie {
	width: 14.28%;
}

.grid-frame-content[data-columns="8"] .attachment.movie {
	width: 12.5%;
}

.grid-frame-content[data-columns="9"] .attachment.movie {
	width: 11.11%;
}

.grid-frame-content[data-columns="10"] .attachment.movie {
	width: 10%;
}

.grid-frame-content[data-columns="11"] .attachment.movie {
	width: 9.09%;
}

.grid-frame-content[data-columns="12"] .attachment.movie {
	width: 8.33%;
}

/* 
 * WPMOLY Movie List
 */

.column-wpmoly-poster {
	width: 4em;
}

.wp-list-table .wpmoly-poster img {
	border-radius: 2px;
	height: 4em;
	max-width: 4em;
}

.wp-list-table .wpmoly.shortcode.item.detail {
	margin: 0 !important;
	padding: 0 !important;
}

.visible-actors {
	display: inline;
}

.hidden-actors {
	display: none;
}

.more-actors {
	font-style: italic;
}

.wpmoly-inline-edit-details {
	background-color: #fff;
	display: none;
	margin-left: -1em;
	margin-top: -2em;
	padding: 0.5em 0;
	position: relative;
	z-index: 9;
}

.wpmoly-inline-edit-details.wpmoly-inline-edit-rating {
	margin-left: 0;
}

.alt .wpmoly-inline-edit-details,
.alternate .wpmoly-inline-edit-details {
	background-color: #f9f9f9;
}

.wpmoly-inline-edit-details ul {
	margin: 0;
}

.wpmoly-inline-edit-details .wpmolicon {
	color: #aaa;
	font-size: 1em;
	margin: 3px 0 -3px 0;
}

.column-wpmoly-release_date,
.column-wpmoly-status,
.column-wpmoly-media {
	position: relative;
	width: 4em;
}

.column-wpmoly-rating {
	text-align: center;
	width: 9em;
}

td.column-wpmoly-status .wpmolicon,
td.column-wpmoly-media .wpmolicon {
	font-size: 1.5rem;
}

.inline-edit-col-wpmoly .inline-edit-group {
	display: inline-block;
	margin-bottom: 1.5em;
	vertical-align: top;
	width: 20%;
}

.inline-edit-col-wpmoly .inline-edit-group .title {
	display: block;
	float: none;
	width: 95%;
}

.inline-edit-col-wpmoly .inline-edit-group select,
.inline-edit-col-wpmoly .inline-edit-group input {
	height: 2em;
	width: 95%;
}

.inline-edit-col-wpmoly .inline-edit-group select[multiple="true"] {
	height: 4em;
}

/*
 * Movie Metadata Modal
 */

.media-modal .edit-movie-frame .movie-metadata-view,
.media-modal .edit-movie-frame .movie-info.movie-images,
.media-modal .edit-movie-frame .movie-info.movie-details {
	overflow: hidden;
}

.media-modal .edit-movie-frame .movie-metadata {
	box-shadow: 0 0 0;
}

/*
 * Movie Images
 */

.media-modal .edit-movie-frame .movie-info {
	box-shadow: 0 0 0;
	float: left;
	position: relative;
	width: 26%;
}

.media-modal .edit-movie-frame .movie-info .actions {
	margin-bottom: 32px;
}

.media-modal .edit-movie-frame .movie-info.movie-images {
	border-right: 1px solid #ddd;
	height: 100%;
	padding: 0;
}

.media-modal .edit-movie-frame .movie-info.movie-details {
	height: 100%;
	padding: 0;
}

.media-modal .edit-movie-frame .movie-info.movie-details .container,
.media-modal .edit-movie-frame .movie-info.movie-images .container {
	height: 100%;
	margin-right: -16px;
	overflow-y: scroll;
	padding: 12px 16px 0;
}

.media-modal .edit-movie-frame .movie-info.movie-images  .settings-save-status {
	position: absolute;
	right: 10px;
}

.media-modal .edit-movie-frame .movie-info .post {
	border-bottom: 1px solid #ddd;
	margin-bottom: 12px;
	padding-bottom: 8px;
}

.media-modal .edit-movie-frame .movie-info .images {
	position: relative;
}

.media-modal .edit-movie-frame .movie-info .images .sep {
	clear: both;
	height: 12px;
}

.media-modal .edit-movie-frame .movie-info .image,
.media-modal .edit-movie-frame .movie-info .poster,
.media-modal .edit-movie-frame .movie-info .additional-poster {
	background: #111;
	float: left;
	overflow: hidden;
	position: relative;
	vertical-align: top;
}

.media-modal .edit-movie-frame .movie-info .image img,
.media-modal .edit-movie-frame .movie-info .poster img,
.media-modal .edit-movie-frame .movie-info .additional-poster img {
	height: 100%;
	width: 100%
}

.media-modal .edit-movie-frame .movie-info .image a,
.media-modal .edit-movie-frame .movie-info .poster a,
.media-modal .edit-movie-frame .movie-info .additional-poster a {
	box-shadow: 0 0 0;
	color: #fff;
	display: none;
	left: 50%;
	margin: -10px 0 0 -10px;
	position: absolute;
	text-decoration: none;
	top: 50%;
}

.media-modal .edit-movie-frame .movie-info .posters .additional-poster.more,
.media-modal .edit-movie-frame .movie-info .backdrops .image.more {
	background: #3390c7;
	color: #fff;
	font-size: smaller;
	text-align: center;
	text-transform: uppercase;
	width: 21.5%;
}

.media-modal .edit-movie-frame .movie-info .posters .additional-poster.more a,
.media-modal .edit-movie-frame .movie-info .backdrops .image.more a {
	display: block;
	height: 100%;
	left: auto;
	margin: 0;
	position: static;
	top: auto;
	width: 100%;
}

.media-modal .edit-movie-frame .movie-info .image:hover img,
.media-modal .edit-movie-frame .movie-info .poster:hover img,
.media-modal .edit-movie-frame .movie-info .additional-poster:hover img {
	opacity: 0.5;
}

.media-modal .edit-movie-frame .movie-info .image:hover a,
.media-modal .edit-movie-frame .movie-info .poster:hover a,
.media-modal .edit-movie-frame .movie-info .additional-poster:hover a {
	display: block;
}

.media-modal .edit-movie-frame .movie-info .poster {
	width: 57%;
}

.media-modal .edit-movie-frame .movie-info .posters .additional-poster:nth-child(1) {
	width: 43%;
}

.media-modal .edit-movie-frame .movie-info .posters .additional-poster:nth-child(2),
.media-modal .edit-movie-frame .movie-info .posters .additional-poster:nth-child(3),
.media-modal .edit-movie-frame .movie-info .posters .additional-poster:nth-child(4) {
	width: 21.5%;
}

.media-modal .edit-movie-frame .movie-info .backdrops .image:nth-child(1) {
	width: 43%;
}

.media-modal .edit-movie-frame .movie-info .backdrops .image:nth-child(2) {
	width: 57%;
}

.media-modal .edit-movie-frame .movie-info .backdrops .image:nth-child(3) {
	width: 43%;
}

.media-modal .edit-movie-frame .movie-info .backdrops .image:nth-child(4),
.media-modal .edit-movie-frame .movie-info .backdrops .image:nth-child(5),
.media-modal .edit-movie-frame .movie-info .backdrops .image:nth-child(6) {
	width: 19%;
}

/*
 * Movie Meta
 */

.media-modal .edit-movie-frame .movie-metadata-view {
	background: #fff;
	float: left;
	height: 100%;
	position: relative;
	width: 48%;
}

.media-modal .edit-movie-frame .movie-metadata-view .container {
	height: 100%;
	margin-right: -16px;
	overflow-y: scroll;
}

.media-modal .edit-movie-frame .movie-metadata-view .movie-metadata {
	padding: 1.5em;
}

.media-modal .edit-movie-frame .movie-metadata-view .movie-metadata .wpmoly-meta-edit.half {
	width: 49.5% !important;
}

.media-modal .edit-movie-frame .movie-metadata-view .movie-metadata .wpmoly-meta-edit.full {
	width: 100%;
}

.media-modal .edit-movie-frame .movie-metadata-view .movie-metadata .wpmoly-meta-edit.half .wpmoly-meta-value .meta-data-field {
	width: 90% !important;
}

.media-modal .edit-movie-frame .movie-metadata-view .movie-metadata .wpmoly-meta-edit.full .wpmoly-meta-value .meta-data-field {
	width: 96% !important;
}

.media-modal .edit-movie-frame .movie-metadata-view .movie-metadata .wpmoly-meta-edit .wpmoly-meta-label label {
	height: 32px;
	line-height: 32px;
	padding: 6px 10px 6px 6px;
}

/*
 * Movie Details
 */

.media-modal .edit-movie-frame .movie-info .wpmoly-details > p:first-child {
	display: none;
}

.media-modal .edit-movie-frame .movie-info .wpmoly-details .wpmoly-details-item {
	display: inline-block;
	vertical-align: top;
	width: 48%;
}

.media-modal .edit-movie-frame .movie-info .wpmoly-details .wpmoly-details-item:nth-child(odd) {
	margin-left: 2%;
}

.media-modal .edit-movie-frame .movie-info .wpmoly-details .select2-container.redux-select-item {
	width: 100% !important;
}

.select2-drop.select2-drop-active {
	z-index: 999999;
}
