
body.wp-admin.wp-core-ui.wpmoly-grid-editor.edit-php.post-type-movie .wrap > *,
body.wp-admin.wp-core-ui.wpmoly-grid-editor.edit-php.post-type-movie #screen-meta-links {
	display: none;
}

body.wp-admin.wp-core-ui.wpmoly-grid-editor.edit-php.post-type-movie .wrap h2,
body.wp-admin.wp-core-ui.wpmoly-grid-editor.edit-php.post-type-movie .wrap .movie-grid {
	display: block;
}

/*
 * WPMOLY Movie Grid
 */

#movie-grid-frame.movie-grid {
	position: relative;
}

.view-switch a:focus {
	box-shadow: 0 0 0;
}

.view-switch a span.wpmolicon::before,
.view-switch a span.dashicons::before {
	color: #bbb;
}

.view-switch a:hover span.wpmolicon::before,
.view-switch a:hover span.dashicons::before {
	color: #727272;
}

.view-switch a.current span.wpmolicon::before,
.view-switch a.current span.dashicons::before {
	color: #0074a2;
}

/* 
 * WPMOLY Movie List
 */

.column-wpmoly-poster {
	width: 4em;
}

.wp-list-table .wpmoly-poster img {
	border-radius: 2px;
	height: 4em;
	max-width: 4em;
}

.wp-list-table .wpmoly.shortcode.item.detail {
	margin: 0 !important;
	padding: 0 !important;
}

.visible-actors {
	display: inline;
}

.hidden-actors {
	display: none;
}

.more-actors {
	font-style: italic;
}

.wpmoly-inline-edit-details {
	background-color: #fff;
	display: none;
	margin-left: -1em;
	margin-top: -2em;
	padding: 0.5em 0;
	position: relative;
	z-index: 9;
}

.wpmoly-inline-edit-details.wpmoly-inline-edit-rating {
	margin-left: 0;
}

.alt .wpmoly-inline-edit-details,
.alternate .wpmoly-inline-edit-details {
	background-color: #f9f9f9;
}

.wpmoly-inline-edit-details ul {
	margin: 0;
}

.wpmoly-inline-edit-details .wpmolicon {
	color: #aaa;
	font-size: 1em;
	margin: 3px 0 -3px 0;
}

.column-wpmoly-release_date,
.column-wpmoly-status,
.column-wpmoly-media {
	position: relative;
	width: 4em;
}

.column-wpmoly-rating {
	text-align: center;
	width: 9em;
}

td.column-wpmoly-status .wpmolicon,
td.column-wpmoly-media .wpmolicon {
	font-size: 1.5rem;
}

.inline-edit-col-wpmoly .inline-edit-group {
	display: inline-block;
	margin-bottom: 1.5em;
	vertical-align: top;
	width: 20%;
}

.inline-edit-col-wpmoly .inline-edit-group .title {
	display: block;
	float: none;
	width: 95%;
}

.inline-edit-col-wpmoly .inline-edit-group select,
.inline-edit-col-wpmoly .inline-edit-group input {
	height: 2em;
	width: 95%;
}

.inline-edit-col-wpmoly .inline-edit-group select[multiple="true"] {
	height: 4em;
}

/*
 * Movie Metadata Modal
 */

.media-modal .edit-movie-frame .movie-metadata-view,
.media-modal .edit-movie-frame .movie-info.movie-images,
.media-modal .edit-movie-frame .movie-info.movie-details {
	overflow: hidden;
}

.media-modal .edit-movie-frame .movie-metadata {
	box-shadow: 0 0 0;
}

/*
 * Movie Images
 */

.media-modal .edit-movie-frame .movie-info {
	box-shadow: 0 0 0;
	float: left;
	position: relative;
	width: 26%;
}

.media-modal .edit-movie-frame .movie-info .actions {
	margin-bottom: 32px;
}

.media-modal .edit-movie-frame .movie-info.movie-images {
	border-right: 1px solid #ddd;
	height: 100%;
	padding: 0;
}

.media-modal .edit-movie-frame .movie-info.movie-details {
	height: 100%;
	padding: 0;
}

.media-modal .edit-movie-frame .movie-info.movie-details .container,
.media-modal .edit-movie-frame .movie-info.movie-images .container {
	height: 100%;
	margin-right: -16px;
	overflow-y: scroll;
	padding: 12px 16px 0;
}

.media-modal .edit-movie-frame .movie-info.movie-images  .settings-save-status {
	position: absolute;
	right: 10px;
}

.media-modal .edit-movie-frame .movie-info .post {
	border-bottom: 1px solid #ddd;
	margin-bottom: 12px;
	padding-bottom: 8px;
}

.media-modal .edit-movie-frame .movie-info .images {
	position: relative;
}

.media-modal .edit-movie-frame .movie-info .images .sep {
	clear: both;
	height: 12px;
}

.media-modal .edit-movie-frame .movie-info .image,
.media-modal .edit-movie-frame .movie-info .poster,
.media-modal .edit-movie-frame .movie-info .additional-poster {
	background: #111;
	float: left;
	overflow: hidden;
	position: relative;
	vertical-align: top;
}

.media-modal .edit-movie-frame .movie-info .image img,
.media-modal .edit-movie-frame .movie-info .poster img,
.media-modal .edit-movie-frame .movie-info .additional-poster img {
	height: 100%;
	width: 100%
}

.media-modal .edit-movie-frame .movie-info .image a,
.media-modal .edit-movie-frame .movie-info .poster a,
.media-modal .edit-movie-frame .movie-info .additional-poster a {
	box-shadow: 0 0 0;
	color: #fff;
	display: none;
	left: 50%;
	margin: -10px 0 0 -10px;
	position: absolute;
	text-decoration: none;
	top: 50%;
}

.media-modal .edit-movie-frame .movie-info .posters .additional-poster.more,
.media-modal .edit-movie-frame .movie-info .backdrops .image.more {
	background: #3390c7;
	color: #fff;
	font-size: smaller;
	text-align: center;
	text-transform: uppercase;
	width: 21.5%;
}

.media-modal .edit-movie-frame .movie-info .posters .additional-poster.more a,
.media-modal .edit-movie-frame .movie-info .backdrops .image.more a {
	display: block;
	height: 100%;
	left: auto;
	margin: 0;
	position: static;
	top: auto;
	width: 100%;
}

.media-modal .edit-movie-frame .movie-info .image:hover img,
.media-modal .edit-movie-frame .movie-info .poster:hover img,
.media-modal .edit-movie-frame .movie-info .additional-poster:hover img {
	opacity: 0.5;
}

.media-modal .edit-movie-frame .movie-info .image:hover a,
.media-modal .edit-movie-frame .movie-info .poster:hover a,
.media-modal .edit-movie-frame .movie-info .additional-poster:hover a {
	display: block;
}

.media-modal .edit-movie-frame .movie-info .poster {
	width: 57%;
}

.media-modal .edit-movie-frame .movie-info .posters .additional-poster:nth-child(1) {
	width: 43%;
}

.media-modal .edit-movie-frame .movie-info .posters .additional-poster:nth-child(2),
.media-modal .edit-movie-frame .movie-info .posters .additional-poster:nth-child(3),
.media-modal .edit-movie-frame .movie-info .posters .additional-poster:nth-child(4) {
	width: 21.5%;
}

.media-modal .edit-movie-frame .movie-info .backdrops .image:nth-child(1) {
	width: 43%;
}

.media-modal .edit-movie-frame .movie-info .backdrops .image:nth-child(2) {
	width: 57%;
}

.media-modal .edit-movie-frame .movie-info .backdrops .image:nth-child(3) {
	width: 43%;
}

.media-modal .edit-movie-frame .movie-info .backdrops .image:nth-child(4),
.media-modal .edit-movie-frame .movie-info .backdrops .image:nth-child(5),
.media-modal .edit-movie-frame .movie-info .backdrops .image:nth-child(6) {
	width: 19%;
}

/*
 * Movie Meta
 */

.media-modal .edit-movie-frame .movie-metadata-view {
	background: #fff;
	float: left;
	height: 100%;
	position: relative;
	width: 48%;
}

.media-modal .edit-movie-frame .movie-metadata-view .container {
	height: 100%;
	margin-right: -16px;
	overflow-y: scroll;
}

.media-modal .edit-movie-frame .movie-metadata-view .movie-metadata {
	padding: 1.5em;
}

.media-modal .edit-movie-frame .movie-metadata-view .movie-metadata .wpmoly-meta-edit.half {
	width: 49.5% !important;
}

.media-modal .edit-movie-frame .movie-metadata-view .movie-metadata .wpmoly-meta-edit.full {
	width: 100%;
}

.media-modal .edit-movie-frame .movie-metadata-view .movie-metadata .wpmoly-meta-edit.half .wpmoly-meta-value .meta-data-field {
	width: 90% !important;
}

.media-modal .edit-movie-frame .movie-metadata-view .movie-metadata .wpmoly-meta-edit.full .wpmoly-meta-value .meta-data-field {
	width: 96% !important;
}

.media-modal .edit-movie-frame .movie-metadata-view .movie-metadata .wpmoly-meta-edit .wpmoly-meta-label label {
	height: 32px;
	line-height: 32px;
	padding: 6px 10px 6px 6px;
}

/*
 * Movie Details
 */

.media-modal .edit-movie-frame .movie-info .wpmoly-details > p:first-child {
	display: none;
}

.media-modal .edit-movie-frame .movie-info .wpmoly-details .wpmoly-details-item {
	display: inline-block;
	vertical-align: top;
	width: 48%;
}

.media-modal .edit-movie-frame .movie-info .wpmoly-details .wpmoly-details-item:nth-child(odd) {
	margin-left: 2%;
}

.media-modal .edit-movie-frame .movie-info .wpmoly-details .select2-container.redux-select-item {
	width: 100% !important;
}

.select2-drop.select2-drop-active {
	z-index: 999999;
}
