
/*
 * Search Form
 */

#grid-content-import {
	text-align: center;
}

#importer-search-form {
	padding-top: 96px;
	
}

#importer-search-query {
	background: transparent;
	border: 0;
	border-bottom: 1px solid #ccc;
	box-shadow: 0 0 0;
	font-size: 1.75rem;
	font-weight: 100;
	max-width: 36rem;
	padding: 0.25rem 1rem;
	width: 50%;
}

#importer-search,
#importer-settings {
	box-shadow: 0 0 0;
	color: #bbb;
	display: inline-block;
	height: 3rem;
	line-height: 3rem;
	position: relative;
	text-decoration: none;
	top: -4px;
	width: 3rem;
}

#importer-search {
	margin-left: -90px;
}

#importer-settings {
	margin-left: -12px;
}


#importer-search span,
#importer-settings span {
	font-size: 2.25rem;
	height: 3rem;
	line-height: 3rem;
	width: 3rem;
}

#importer-settings span {
	font-size: 1.75rem;
}

#importer-add {
	font-size: 11px;
	opacity: 0.6;
}

/*
 * Search Settings
 */

#importer-search-settings {
	border-top: 1px solid #ddd;
	display: inline-block;
	padding-top: 12px;
	position: relative;
	text-align: center;
}

/*
 * Search Results
 */

#importer-search-results {
	border-top: 1px solid #ddd;
	display: inline-block;
	padding-top: 12px;
	position: relative;
	text-align: center;
}

#importer-search-results .attachments.movies .attachment.movie.search-result {
	height: 270px;
	width: 180px;
}







