
#postbox-container-2 #wpmoly-metabox:not(.closed) {
	background: transparent;
	border: 0;
	box-shadow: 0 0 0;
}

#postbox-container-2 #wpmoly-metabox:not(.closed) .hndle {
	display: none;
}

#postbox-container-2 #wpmoly-metabox:not(.closed) .handlediv {
	height: 48px;
	line-height: 48px;
	position: relative;
	width: 48px;
	z-index: 10;
}

#postbox-container-2 #wpmoly-metabox:not(.closed) .handlediv:before {
	height: 48px;
	line-height: 48px;
	padding: 0;
	right: 0;
	text-align: center;
	top: 0;
	width: 48px;
}

#postbox-container-1 #wpmoly-metabox.postbox .inside #wpmoly-convert-button {
	text-align: center;
}

#postbox-container-2 #wpmoly-metabox.postbox .inside {
	margin: 0;
	padding: 0;
}

#wpmoly-meta {
	padding-left: 14em;
	padding-top: 3em;
	position: relative;
}

/*#wpmoly-meta-status {
	background: #f1f1f1;
	border-bottom: 1px solid #dfdfdf;
	height: 2em;
	left: 0;
	padding: 0.75em 0 0.25em 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}

#wpmoly-meta-status-loader,
#wpmoly-meta-status-content {
	color: #888;
	display: none;
	font-family: monospace;
	font-size: 12px;
}

#wpmoly-meta-status-loader.active,
#wpmoly-meta-status-content.active {
	display: inline-block;
}

#wpmoly-meta-status-loader {
	margin-left: 16em;
	margin-right: 0.5em;
	vertical-align: middle;
	width: auto;
}

#wpmoly-meta-status-loader .wpmolicon {
	color: #0074a2;
	height: 18px;
}

#wpmoly-meta-status-loader img {
	vertical-align: text-top;
}

#wpmoly-meta-status-content {
	line-height: 1.5em;
}*/

#wpmoly-meta-menu-bg {
	background: #f1f1f1;
	border-right: 1px solid #dfdfdf;
	bottom: 0;
	left: 0;
	position: absolute;
	top: 3em;
	width: 14em;
}

#wpmoly-meta-menu {
	background: #f1f1f1;
	float: left;
	height: 100%;
	margin: 0 0 0 -14em;
	padding: 0;
	position: relative;
	width: 14em;
	z-index: 2;
}

#wpmoly-meta-menu .tab {
	margin: 0;
}

#wpmoly-meta-menu .tab a {
	border-bottom: 1px solid #f1f1f1;
	border-top: 1px solid #eaeaea;
	box-shadow: 0 0 0;
	display: block;
	line-height: 1.4em;
	padding: 0.75em 1em;
	text-decoration: none;
}

#wpmoly-meta-menu .tab.active a {
	background-color: #fff;
	border-color: #dfdfdf;
	border-left: 1px solid #dfdfdf;
	box-shadow: 0 0 0;
	color: #555;
	margin: 0 -1px 0 0;
	position: relative;
}

#wpmoly-meta-menu .tab:first-child a {
	border-top-width: 0;
}

#wpmoly-meta-menu .tab.active:first-child a {
	border-top-width: 1px;
}

#wpmoly-meta-panels {
	background: #fff;
	border: 1px solid #dfdfdf;
}

#wpmoly-meta-panels .panel {
	padding: 1em 1.5em;
}

#wpmoly-meta-panels .panel.active {
	display: block;
}

#wpmoly-meta.small {
	padding-left: 4em !important;
}

#wpmoly-meta.small .wpmolicon.icon-collapse {
	    transform: rotate(180deg) ;
    -webkit-transform: rotate(180deg) ;
       -moz-transform: rotate(180deg) ;
         -o-transform: rotate(180deg) ;
        -ms-transform: rotate(180deg) ;
}

#wpmoly-meta.small #wpmoly-meta-menu {
	margin: 0 0 0 -4em !important;
	width: 4em !important;
}

#wpmoly-meta.small #wpmoly-meta-menu-bg {
	width: 4em !important;
}

#wpmoly-meta.small #wpmoly-meta-menu .tab a .text {
	display: none !important;
}

#wpmoly-meta.small #wpmoly-meta-status-loader {
	margin-left: 5em;
}

/* Movie Preview */

#wpmoly-movie-preview {
	padding-left: 16em;
}

#wpmoly-movie-preview a {
	text-decoration: none;
}

#wpmoly-movie-preview .wpmolicon {
	color: #888;
	font-size: 1rem;
	position: relative;
	top: 3px;
}

#wpmoly-movie-preview .wpmoly-movie-rating {
	margin-top: 1em;
}

#wpmoly-movie-preview .wpmoly-movie-rating .wpmolicon {
	font-size: 1.25rem;
}

#wpmoly-movie-preview .wpmoly-movie-preview-poster {
	float: left;
	margin: 0.5em 1.5em 0 -16em;
	width: 14em;
}

#wpmoly-movie-preview .wpmoly-movie-preview-poster img {
	border-radius: 3px;
	box-shadow: 0px 1px 2px #999;
	height: auto;
	width: 100%;
}

#wpmoly-movie-preview .wpmoly-movie-preview-meta {
	float: left;
}

#wpmoly-movie-preview #wpmoly-movie-preview-title {
	font-style: italic;
	padding-left: 0;
}

#wpmoly-movie-preview #wpmoly-movie-preview-title > div {
	margin-top: -2px;
}

#wpmoly-movie-preview #wpmoly-movie-preview-original_title {
	color: #888;
	font-style: italic;
	margin: -0.5em 0 0 0;
}

#wpmoly-movie-preview #wpmoly-movie-preview-rating {
	float: right;
	position: relative;
	top: -4px;
}

#wpmoly-movie-preview #wpmoly-movie-preview-overview {
	border-bottom: 1px solid #e6e6e6;
	border-top: 1px solid #e6e6e6;
	line-height: 1.75em;
	padding: 0.5em 0;
	text-align: justify;
}

#wpmoly-movie-preview.empty {
	opacity: 0.25;
}

#wpmoly-movie-preview.empty .lipsum {
	color: transparent;
	background: none repeat scroll 0% 0% #888;
	opacity: 0.35;
}

/* Details */

#wpmoly-meta-panels .wpmoly-details-item {
	display: inline-table;
	margin: 0 0.5%;
	width: 32%;
}

#wpmoly-meta-panels .wpmoly-details-item-title {
	border-bottom: 1px solid #ddd;
	margin-bottom: 0.25rem;
	margin-left: 0.1rem;
	padding-bottom: 0.25em;
	position: relative;
}

#wpmoly-meta-panels .wpmoly-details-item-title .wpmolicon,
#wpmoly-meta-panels .wpmoly-details-item-title .dashicons,
#wpmoly-meta-panels .wpmoly-details-item-title .fa {
	color: #888;
}

#wpmoly-meta-panels .wpmoly-details-item .select2-container {
	width: 100% !important;
}

#wpmoly_details #wpmoly-details-major-publishing-actions {
	background: #F5F5F5;
	border-top: 1px solid #DDD;
	clear: both;
	margin: 10px -12px -12px -12px;
	padding: 10px;
}

#wpmoly_details #wpmoly-details-major-publishing-action {
	text-align: right;
	float: right;
	line-height: 23px;
}

#wpmoly_details #wpmoly-details-status {
	color: #888;
	float: left;
	font-style: italic;
}

#wpmoly_details #wpmoly-details-status p {
	margin: 0.5em;
}

#wpmoly_details #wpmoly-details-major-publishing-action .spinner {
	float: left;
	margin-top: 6px;
}

#wpmoly_details .misc-pub-section {
	padding-left: 0;
}

#wpmoly_details .misc-pub-section .wpmolicon {
	color: #888;
	margin-right: 0.25em;
}

#wpmoly_details #movie-status-display,
#wpmoly_details #movie-media-display {
	font-weight: bold;
}

#wpmoly_details label {
	vertical-align: baseline;
}

/* Meta Search */

#wpmoly-movie-meta-search + #wpmoly-meta {
	margin-top: 1em;
	padding-top: 0;
}

#wpmoly-search-box {
	background: #fff;
	border: 1px solid #e5e5e5;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	min-height: 48px;
	padding-left: 12em;
}

#wpmoly-search-box #wpmoly-search-status {
	background: #fff;
	float: left;
	height: 48px;
	margin-left: -12em;
	overflow: hidden;
	width: 11.5em;
}

#wpmoly-search-box #wpmoly-search-status.active {
	position: absolute;
	width: 99%;
	z-index: 9;
}

#wpmoly-search-box #wpmoly-search-status .wpmoly-status-icon {
	float: left;
	text-align: center;
	width: 36px;
}

#wpmoly-search-box #wpmoly-search-status .wpmoly-status-icon .wpmolicon.icon-warning {
	color: #ff3c20;
	font-size: 18px;
}

#wpmoly-search-box #wpmoly-search-status .wpmoly-status-icon img {
	margin: 0 0 0 8px;
	position: relative;
	top: 2px;
}

#wpmoly-search-box #wpmoly-search-status .wpmoly-status-text {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 8.5em;
}

#wpmoly-search-box #wpmoly-search-status .wpmoly-status-text.warning {
	color: #b42915;
}

#wpmoly-search-box #wpmoly-search-status.active .wpmoly-status-text {
	width: 90%;
}

#wpmoly-search-box > div,
#wpmoly-search-box > #wpmoly-search-status > div,
#wpmoly-search-box > #wpmoly-search-form > div {
	display: inline-block;
	line-height: 48px;
}

#wpmoly-search-box > #wpmoly-search-form {
	padding-left: 50px;
}

#wpmoly-search-box > #wpmoly-search-form a.icon,
#wpmoly-search-box > #wpmoly-search-tools a.icon {
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	box-shadow: 0 0 0;
	display: inline-block;
	line-height: 48px;
	position: relative;
	text-align: center;
	text-decoration: none;
	width: 48px;
}

#wpmoly-search-box > #wpmoly-search-tools a + a {
	margin-left: -1px;
}

#wpmoly-search-box > #wpmoly-search-form a .wpmolicon,
#wpmoly-search-box > #wpmoly-search-tools a .wpmolicon {
	color: #666;
}

#wpmoly-search-box > #wpmoly-search-form .wpmoly-search-settings a::before {
	content: '\e647';
	font-family: 'wpmovielibrary';
	position: absolute;
	right: 6px;
}

#wpmoly-search-box > #wpmoly-search-form .wpmoly-search-settings.active a::before {
	content: '\e645';
}

#wpmoly-search-box #wpmoly-search-status .wpmoly-status-icon .wpmolicon,
#wpmoly-search-box #wpmoly-search-form .wpmoly-search-settings .wpmolicon,
#wpmoly-search-box #wpmoly-search-tools .wpmolicon {
	color: #888;
	height: 48px;
	line-height: 48px;
	width: 28px;
}

#wpmoly-search-box #wpmoly-search-status .wpmoly-status-icon .wpmolicon {
	margin-left: 8px;
}

#wpmoly-search-box #wpmoly-search-form .wpmoly-search-settings {
	float: left;
	margin-left: -50px;
	width: 50px;
}

#wpmoly-search-box #wpmoly-search-form .wpmoly-search-settings .wpmolicon {
	margin-right: 8px;
}

#wpmoly-search-box #wpmoly-search-form .wpmoly-search-settings.active,
#wpmoly-search-box #wpmoly-search-form .wpmoly-search-settings:hover {
	background: #3390c7;
}

#wpmoly-search-box #wpmoly-search-form .wpmoly-search-settings.active .wpmolicon,
#wpmoly-search-box #wpmoly-search-form .wpmoly-search-settings.active a::before,
#wpmoly-search-box #wpmoly-search-form .wpmoly-search-settings:hover .wpmolicon,
#wpmoly-search-box #wpmoly-search-form .wpmoly-search-settings:hover a::before {
	color: #fff;
}

#wpmoly-search-box #wpmoly-search-tools {
	float: right;
}

#wpmoly-search-box #wpmoly-search-tools .wpmolicon {
	width: 48px;
}

#wpmoly-search-box #wpmoly-search-tools #wpmoly-update .wpmolicon:hover {
	background: #a2ce51;
	color: #fff;
}

#wpmoly-search-box #wpmoly-search-tools #wpmoly-empty .wpmolicon:hover {
	background: #ff7966;
	color: #fff;
}

#wpmoly-search-box #wpmoly-search-tools #wpmoly-update .wpmolicon,
#wpmoly-search-box #wpmoly-search-tools #wpmoly-update .wpmolicon:hover,
#wpmoly-search-box #wpmoly-search-tools #wpmoly-empty .wpmolicon,
#wpmoly-search-box #wpmoly-search-tools #wpmoly-empty .wpmolicon:hover,
#wpmoly-search-box #wpmoly-search-form .wpmoly-search-settings,
#wpmoly-search-box #wpmoly-search-form .wpmoly-search-settings:hover,
#wpmoly-search-box #wpmoly-search-form .wpmoly-search-settings .wpmolicon,
#wpmoly-search-box #wpmoly-search-form .wpmoly-search-settings .wpmolicon:hover {
	transition: all 0.3s ease;
}

#wpmoly-search-box .wpmoly-search-query {
	position: relative;
}

#wpmoly-search-box .wpmoly-search-query input {
	border: 0;
	box-shadow: 0 0 0;
	font-size: 1.25em;
	font-weight: 300;
	height: 46px;
	margin: 0;
	padding: 0 10px;
}

#wpmoly-search-box .wpmoly-search-query > a {
	border: 0 !important;
	height: 32px;
	line-height: 32px !important;
	width: 32px !important;
}

#wpmoly-search-box .wpmoly-search-query > a .wpmolicon {
	color: #aaa !important;
	height: 32px;
	line-height: 32px !important;
	width: 32px !important;
}

#wpmoly-search-box .wpmoly-search-query > a:hover .wpmolicon {
	color: #666 !important;
}

#wpmoly-search-box .wpmoly-search-query > a + a {
	border-left: 1px solid #e5e5e5 !important;
}

#wpmoly-search-box .wpmoly-search-query #wpmoly-lang {
	position: relative;
	width: 48px !important;
}

#wpmoly-search-box .wpmoly-search-query #wpmoly-lang .wpmolicon {
	margin-right: 10px;
}

#wpmoly-search-box .wpmoly-search-query #wpmoly-lang:before {
	color: #333;
	content: '\e645';
	font-family: 'wpmovielibrary';
	position: absolute;
	right: 6px;
}

#wpmoly-search-box .wpmoly-search-query #wpmoly-lang-select {
	background: #fff;
	border: 1px solid #e5e5e5;
	border-radius: 0.25em;
	box-shadow: 2px 2px 1px #aaa;
	display: none;
	position: absolute;
	right: 2.25em;
	top: 41px;
	width: 12em;
	z-index: 9999;
}

#wpmoly-search-box .wpmoly-search-query #wpmoly-lang-select .wpmoly-lang-select {
	background: #eee;
	border-radius: 0.25em;
	color: #666;
	font-size: 11px;
	line-height: 32px;
	margin: 4px;
	text-align: center;
	text-transform: uppercase;
}

#wpmoly-search-box .wpmoly-search-query #wpmoly-lang-select ul {
	height: 12.5em;
	margin: 0;
	overflow-y: scroll;
}

#wpmoly-search-box .wpmoly-search-query #wpmoly-lang-select li {
	margin: 0 4px;
	padding: 0;
	line-height: 32px;
	list-style: none;
}

#wpmoly-search-box .wpmoly-search-query #wpmoly-lang-select li a {
	box-shadow: 0 0 0;
	display: block;
	padding: 0 12px;
	text-decoration: none;
}

#wpmoly-search-box .wpmoly-search-query #wpmoly-lang-select li a.selected,
#wpmoly-search-box .wpmoly-search-query #wpmoly-lang-select li a:hover {
	background: #3390c7;
	border-radius: 0.25em;
	color: #fff;
}

#wpmoly-meta-search-settings {
	background: #3390c7;
	box-shadow: 4px 6px 2px #ddd;
	display: none;
	margin-left: 12.15em;
	margin-top: -1px;
	min-height: 72px;
	padding: 0.5em 0;
}

#wpmoly-meta-search-settings .wpmoly-meta-search-settings {
	border-right: 1px solid rgba(255, 255, 255, 0.1);
	color: #fff;
	display: inline-block;
	margin: 0.25em 0px 0.25em 1%;
	padding: 0.5em 0px 0.5em 1em;
	width: 45%;
}

#wpmoly-meta-search-settings .wpmoly-meta-search-settings:nth-child(even) {
	border: 0;
}

#wpmoly-meta-search-settings .wpmoly-meta-search-settings input[type=text] {
	background: transparent;
	border: 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.25);
	box-shadow: 0 0 0;
	color: #fff;
	text-align: center;
}

#wpmoly-meta-search-settings .wpmoly-meta-search-settings .setting-icon .wpmolicon {
	background: rgba(255,255,255,0.25);
	color: #3390c7;
	font-size: 18px;
	left: -2px;
	line-height: 20px;
	padding: 3px 2px 1px 3px;
	position: relative;
	top: -2px;
}

#wpmoly-meta-search-settings .wpmoly-meta-search-settings .setting-icon .wpmolicon.icon-date {
	margin-right: 6px;
	top: 2px;
}


#wpmoly-meta-search-settings .wpmoly-meta-search-settings a {
	color: #fff;
	text-decoration: none;
}

#wpmoly-meta-search-settings .wpmoly-meta-search-settings a:hover .wpmolicon.icon-yes:before {
	content: '\e619';
}

#wpmoly-meta-search-settings .wpmoly-meta-search-settings a:hover .wpmolicon.icon-no-alt:before {
	content: '\e663';
}


/* Meta */

#wpmoly-movie-meta #wpmoly-movie-meta-search {
	border-bottom: 1px solid #ddd;
	margin-top: -1em;
	padding-bottom: 1em;
}

#wpmoly-movie-meta .wpmoly-meta {
	margin-top: 1em;
	width: 100%;
}

#wpmoly-movie-meta .wpmoly-meta-edit {
	display: inline-block;
	margin: 0.25em 0;
}

#wpmoly-movie-meta .wpmoly-meta-edit.hidden {
	display: none;
}

#wpmoly-movie-meta .wpmoly-meta-edit.half {
	width: 49.75%;
}

#wpmoly-movie-meta .wpmoly-meta-edit.full {
	width: 99.8%;
}

#wpmoly-movie-meta .wpmoly-meta-edit .wpmoly-meta-label {
	float: left;
	width: 8.5em;
}

#wpmoly-movie-meta .wpmoly-meta-edit .wpmoly-meta-label label {
	color: #888;
	display: block;
	font-size: 11px;
	font-weight: bold;
	margin: 2px 0;
	padding: 6px 10px;
	text-transform: uppercase;
}

#wpmoly-movie-meta .wpmoly-meta-edit .wpmoly-meta-value {
	display: block;
	margin-left: 9em;
}

#wpmoly-movie-meta .wpmoly-meta-edit .wpmoly-meta-value .meta-data-field {
	background: #fafafa;
	border: 0;
	border-bottom: 1px solid #e6e6e6;
	box-shadow: 0 0 0;
	padding: 6px 10px;
	width: 100%;
}

#wpmoly-movie-meta .wpmoly-meta-edit .wpmoly-meta-value textarea.meta-data-field {
	margin-left: 1px;
}

#wpmoly-meta-search-results {
	background: none repeat scroll 0% 0% rgb(255, 255, 255);
	border: 1px solid #e5e5e5;
	border-top: 0;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.04), 0px 2px 2px #eee inset;
	display: none;
	margin: 0;
	padding: 0.75em 0;
	position: relative;
}

#wpmoly-meta-search-results #wpmoly-empty-select-results {
	bottom: 0;
	box-shadow: 0 0 0;
	color: #fff;
	padding: 0.25em;
	position: absolute;
	right: 0;
	text-decoration: none;
}

#wpmoly-meta-search-results #wpmoly-empty-select-results .wpmolicon {
	position: relative;
	z-index: 2;
}

#wpmoly-meta-search-results #wpmoly-empty-select-results:before {
	border-width: 1.75em;
	border-style: solid;
	border-color: transparent #ccc #ccc transparent;
	bottom: 0;
	content: '';
	height: 0;
	position: absolute;
	width: 0;
	right: 0;
	z-index: 0;
}

#wpmoly-meta-search-results #wpmoly-empty-select-results:hover::before {
	border-color: transparent #ff3c20 #ff3c20 transparent;
}

/* Attachments */

#wpmoly-backdrops-preview .wpmoly-backdrop,
#wpmoly-posters-preview .wpmoly-poster {
	float: left;
	height: 112px;
	margin: 4px;
	overflow: hidden;
	width: 200px;
}

#wpmoly-backdrops-preview .wpmoly-backdrop.wpmoly-backdrop-loading,
#wpmoly-posters-preview .wpmoly-poster.wpmoly-poster-loading {
	position: relative;
}

#wpmoly-backdrops-preview .wpmoly-backdrop.wpmoly-backdrop-loading img,
#wpmoly-posters-preview .wpmoly-poster.wpmoly-poster-loading img {
	opacity: 0.5;
}

#wpmoly-backdrops-preview .wpmoly-backdrop.wpmoly-backdrop-loading::after,
#wpmoly-posters-preview .wpmoly-poster.wpmoly-poster-loading::after {
	background: url(../../img/grid.svg) center center no-repeat;
	background-size: 18px 18px;
	content: '';
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

#wpmoly-backdrops-preview .wpmoly-backdrop,
#wpmoly-posters-preview .wpmoly-poster {
	border-radius: 4px;
	float: left;
	height: 140px;
	margin: 4px;
	overflow: hidden;
	position: relative;
	width: 240px;
}

#wpmoly-posters-preview .wpmoly-poster {
	height: 200px;
	width: 140px;
}

#wpmoly-backdrops-preview .wpmoly-backdrop img,
#wpmoly-posters-preview .wpmoly-poster img {
	height: 100%;
	position: absolute;
	width: 100%;
}

#wpmoly-backdrops-preview #wpmoly-load-backdrops,
#wpmoly-posters-preview #wpmoly-load-posters {
	border: 2px dashed #ccc;
	display: block;
	line-height: 136px;
	text-align: center;
	text-decoration: none;
}

#wpmoly-backdrops-preview #wpmoly-load-backdrops .wpmolicon,
#wpmoly-posters-preview #wpmoly-load-posters .wpmolicon {
	font-size: 36px;
	line-height: 146px;
	width: 100%;
}

#wpmoly-posters-preview #wpmoly-load-posters,
#wpmoly-posters-preview #wpmoly-load-posters .wpmolicon {
	line-height: 196px;
}

#wpmoly-backdrops-preview #wpmoly-load-backdrops:hover,
#wpmoly-posters-preview #wpmoly-load-posters:hover {
	border-color: #2ea2cc;
}

.wpmoly-imported-attachment-menu {
	height: 100%;
	position: absolute;
	width: 100%;
}

.wpmoly-imported-attachment-menu.active .wpmoly-imported-attachment-menu-toggle,
.wpmoly-imported-attachment-menu.active .wpmoly-imported-attachment-menu-inner {
	background: rgba(0, 116, 162, 0.9);
}

.wpmoly-imported-attachment-menu.active .wpmoly-imported-attachment-menu-inner {
	display: block;
}

.wpmoly-imported-attachment-menu .wpmoly-imported-attachment-menu-toggle {
	border-radius: 4px 4px 0 0;
	box-shadow: 0 0 0;
	color: #fff;
	height: 18px;
	left: 0;
	padding: 6px 8px;
	position: absolute;
	text-decoration: none;
	transition: none;
	top: 0;
}

.wpmoly-imported-attachment-menu .wpmoly-imported-attachment-menu-inner {
	border-radius: 0 4px 4px;
	display: none;
	height: 100%;
	position: absolute;
	top: 30px;
	width: 100%;
}

.wpmoly-imported-attachment-menu .wpmoly-imported-attachment-menu-inner ul {
	margin: 8px 0;
}

.wpmoly-imported-attachment-menu .wpmoly-imported-attachment-menu-inner li:first-child {
	border: 0;
	color: #fff;
	font-size: 11px;
	margin-bottom: 6px;
	text-align: center;
	text-transform: uppercase;
}

.wpmoly-imported-attachment-menu .wpmoly-imported-attachment-menu-inner li:last-child {
	border-bottom-width: 2px;
}

.wpmoly-imported-attachment-menu .wpmoly-imported-attachment-menu-inner li:last-child + li {
	border-top-width: 2px
}

.wpmoly-imported-attachment-menu .wpmoly-imported-attachment-menu-inner li {
	border-top: 1px solid #0c6a8f;
	border-bottom: 1px solid #0c6a8f;
	margin: 0;
}

.wpmoly-imported-attachment-menu .wpmoly-imported-attachment-menu-inner li a {
	border-left: 3px solid #0074a2;
	color: #fff;
	display: block;
	margin: 0;
	padding: 8px 4px 4px;
	text-decoration: none;
}

.wpmoly-imported-attachment-menu .wpmoly-imported-attachment-menu-inner li a:hover {
	background: #429abd;
	font-weight: bold;
}

.wpmoly-imported-attachment-menu .wpmoly-imported-attachment-menu-inner li a.wpmoly-imported-attachment-menu-edit:hover {
	border-left-color: #01C650;
}

.wpmoly-imported-attachment-menu .wpmoly-imported-attachment-menu-inner li a.wpmoly-imported-attachment-menu-delete:hover {
	border-left-color: #c60101;
}

.wpmoly-imported-attachment-menu .wpmoly-imported-attachment-menu-inner li a.wpmoly-imported-attachment-menu-featured:hover {
	border-left-color: #00b7ff;
}

/**
 * Media Modal
 **/

.wpmoly-media-modal .attachments-browser .attachment-filters {
	display: none;
}

.wpmoly-media-modal.poster-modal .attachments-browser .attachment-language-filters {
	display: inline-block;
	min-width: 128px;
}

.wpmoly-media-modal .attachments-browser .attachments .attachment.wpmoly-filtered-attachment {
	display: none;
	/*opacity: 0.25;*/
}

.wpmoly-media-modal .attachments-browser .attachment-info .thumbnail,
.wpmoly-media-modal .attachments-browser .attachment-info .thumbnail img {
	max-width: none;
	max-height: none;
	width: 256px;
}








