
body.wp-admin.post-php.post-type-grid .wrap h1.wp-heading-inline,
body.wp-admin.post-php.post-type-grid .wrap .wp-heading-inline + .page-title-action,
body.wp-admin.post-php.post-type-grid .wp-header-end {
	display: none;
}

#wpmoly-grid-builder {
	margin: 4em auto 0;
	max-width: 1280px;
}

/*
 * Grid Builder separator
 */

#wpmoly-grid-builder .grid-builder-separator {
	background: repeating-linear-gradient(
		-45deg,
		#e5e5e5,
		#e5e5e5 10px,
		#f1f1f1 10px,
		#f1f1f1 20px
	);
	height: 1em;
	margin: 15px 0 0 0;
	text-align: center;
}

#wpmoly-grid-builder .grid-builder-separator .separator-label {
	background: #f1f1f1;
	border: 0;
	box-shadow: 0 0 0;
	color: #aaa;
	display: inline-block;
	font-size: 13px;
	font-variant: small-caps;
	font-weight: bold;
	height: 1.25em;
	line-height: 1.25em;
	margin: 0 auto;
	padding: 0 10px;
	vertical-align: top;
}

#wpmoly-grid-builder .butterbean-ui.postbox .inside .grid-builder-separator {
	margin: 0 0 15px 0;
}

/*
 * Grid Builder Shortcuts
 */

#wpmoly-grid-builder-shortcuts {
	margin-top: -4px;
}

#wpmoly-grid-builder-id,
#wpmoly-grid-builder-shortcode {
	border-radius: 2px;
	color: #eee;
	display: inline-block;
	padding: 2px 8px;
}

#wpmoly-grid-builder-id {
	background: #333;
}

#wpmoly-grid-builder-shortcode {
	background: #3190c6;
}

/*
 * Grid Builder Preview
 */

#wpmoly-grid-builder-preview {
	margin: 15px 0;
}

/*
 * Grid Type Metabox
 */

#wpmoly-grid-type-metabox {
	background: transparent;
	border: 0;
	box-shadow: 0 0 0;
}

#wpmoly-grid-type-metabox.closed {
	border: 0;
	box-shadow: 0 0 0;
}

#wpmoly-grid-type-metabox .grid-builder-separator {
	margin-bottom: 15px;
}

#wpmoly-grid-type-metabox .handlediv,
#wpmoly-grid-type-metabox .hndle {
	display: none;
}

#wpmoly-grid-type-metabox .inside {
	margin: 0;
	padding: 0;
}

#wpmoly-grid-type-metabox .inside button {
	background: #fff;
	border: 0;
	color: #666;
	cursor: pointer;
	float: left;
	font-size: 20px;
	height: 48px;
	width: 48px;
}

#wpmoly-grid-type-metabox .inside button.active {
	color: #3190c6;
}

#wpmoly-grid-type-metabox .inside h4 {
	border-bottom: 1px solid #e5e5e5;
	color: #888;
	font-size: .875em;
	font-weight: 300;
	margin: 1rem .75rem 0;
	padding: 0 .25rem .5rem;
}

#wpmoly-grid-type-metabox .inside .block {
	background: #fff;
	border: 1px solid #e5e5e5;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
	margin: 0 0 1.5rem 0;
}

#wpmoly-grid-type-metabox .inside .block-inner {
	padding: 0 .5rem;
}

#wpmoly-grid-type-metabox .inside .block {
	position: relative;
}

#wpmoly-grid-type-metabox .inside .block:after {
	border: .5rem solid transparent;
	border-bottom-color: #fff;
	content: '';
	left: 1.5rem;
	position: absolute;
	top: -1rem;
}

#wpmoly-grid-type-metabox .inside .block:before {
	border: .5rem solid transparent;
	border-bottom-color: #ddd;
	content: '';
	left: 1.5rem;
	position: absolute;
	top: -1.05rem;
}

#wpmoly-grid-type-metabox .inside .block.supported-grid-types:after,
#wpmoly-grid-type-metabox .inside .block.supported-grid-types:before {
	left: 1rem;
}

#wpmoly-grid-type-metabox .inside .block.supported-grid-modes,
#wpmoly-grid-type-metabox .inside .block.supported-grid-themes {
	display: none;
}

#wpmoly-grid-type-metabox .inside .block.supported-grid-modes.active,
#wpmoly-grid-type-metabox .inside .block.supported-grid-themes.active {
	display: block;
}

#wpmoly-grid-type-metabox .inside .block button:active {
	margin: 0;
	padding: 0;
	top: 1px;
}

/*
 * Grid Meta Metaboxes
 */

#wpmoly-grid-builder .butterbean-ui.postbox,
#wpmoly-grid-builder .butterbean-ui.postbox .hndle,
#wpmoly-grid-builder .butterbean-ui.postbox .handlediv {
	display: none;
}

#wpmoly-grid-builder .butterbean-ui.postbox.active {
	display: block;
}

#wpmoly-grid-builder .butterbean-ui.postbox,
#wpmoly-grid-builder .butterbean-ui.postbox .butterbean-manager,
#wpmoly-grid-builder .butterbean-ui.postbox .butterbean-nav {
	background: transparent;
	border: 0;
	box-shadow: 0 0 0;
}

#wpmoly-grid-builder .butterbean-ui.postbox .butterbean-nav {
	margin-top: 14px;
}

#wpmoly-grid-builder .butterbean-ui.postbox .butterbean-nav li[aria-selected=true] a {
	background: #fff;
	box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.04);
}

#wpmoly-grid-builder .butterbean-ui.postbox .butterbean-nav .wpmolicon {
	margin-right: 3px;
}

#wpmoly-grid-builder .butterbean-ui.postbox .butterbean-content {
	background: #fff;
	border: 1px solid #e5e5e5;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	padding: 12px 15px;
	width: calc( 100% - 211px );
}

#wpmoly-grid-builder .butterbean-ui.postbox .butterbean-content .butterbean-control.butterbean-control-text.half-col,
#wpmoly-grid-builder .butterbean-ui.postbox .butterbean-content .butterbean-control.butterbean-control-select.half-col,
#wpmoly-grid-builder .butterbean-ui.postbox .butterbean-content .butterbean-control.butterbean-control-checkbox.half-col,
#wpmoly-grid-builder .butterbean-ui.postbox .butterbean-content .butterbean-control.butterbean-control-radio-image.half-col label {
	display: inline-block;
	max-width: 420px;
	vertical-align: top;
	width: 49.5%;
}

#wpmoly-grid-builder .butterbean-ui.postbox .butterbean-content .butterbean-control.butterbean-control-radio-image.visible-labels label {
	position: relative;
}

#wpmoly-grid-builder .butterbean-ui.postbox .butterbean-content .butterbean-control.butterbean-control-radio-image.visible-labels img {
	position: relative;
}

#wpmoly-grid-builder .butterbean-ui.postbox .butterbean-content .butterbean-control.butterbean-control-radio-image.visible-labels label:before {
	border: 4px solid #ddd;
	bottom: 5px;
	content: ' ';
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

#wpmoly-grid-builder .butterbean-ui.postbox .butterbean-content .butterbean-control.butterbean-control-radio-image.visible-labels label:after {
	bottom: 5px;
	color: #fff;
	content: attr(title);
	font-size: 1.15em;
	left: 0;
	padding: 6% 0 6% 20%;
	position: absolute;
	right: 0;
	top: 0;
}

/*#wpmoly-grid-builder .butterbean-ui.postbox .butterbean-content .butterbean-control.butterbean-control-radio-image.visible-labels .screen-reader-text {
	border: 4px solid #fff;
	clip: auto;
	color: #fff;
	font-size: 1em;
	font-weight: 200;
	height: calc( 100% - 14px );
	line-height: 1.5rem;
	margin: 0;
	padding: 1px 1px 1px 2em;
	position: absolute;
	width: calc( 100% - 2.675em );
}*/

#wpmoly-grid-builder .butterbean-ui.postbox .butterbean-content .butterbean-control.butterbean-control-radio-image.visible-labels .screen-reader-text:hover,
#wpmoly-grid-builder .butterbean-ui.postbox .butterbean-content .butterbean-control.butterbean-control-radio-image.visible-labels .screen-reader-text:focus {
	border-color: #ccc;
}

#wpmoly-grid-builder .butterbean-ui.postbox .butterbean-content .butterbean-control.butterbean-control-radio-image.visible-labels input:checked + span {
	border-color: #00a0d2 !important;
}

/*
 * Grid Publish Metabox
 */

#wpmoly-grid-builder #submitdiv {
	background: transparent;
	border: 0;
	box-shadow: 0 0 0;
	margin-top: 86px;
}

#wpmoly-grid-builder #major-publishing-actions {
	background: #fff;
	border: 1px solid #e5e5e5;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	height: 48px;
	margin: 0;
	padding: 0;
}

#wpmoly-grid-builder #major-publishing-actions a:active {
	margin-top: 1px;
}

#wpmoly-grid-builder #major-publishing-actions button:active {
	padding-top: 1px;
}

#wpmoly-grid-builder .hndle,
#wpmoly-grid-builder .handlediv,
#wpmoly-grid-builder #minor-publishing,
#wpmoly-grid-builder #publishing-action .spinner {
	display: none;
}

#wpmoly-grid-builder #delete-action,
#wpmoly-grid-builder #publishing-action {
	float: none;
	margin-bottom: 10px;
}

#wpmoly-grid-builder #publish {
	display: none;
}

#wpmoly-grid-builder #customize-action {
	height: 48px;
	left: 1px;
	position: absolute;
	top: 1px;
	width: 48px;
}

#wpmoly-grid-builder #customize-action button {
	background: #fff;
	border: 0;
	color: #ccc;
	height: 48px;
	left: 0;
	margin: 0;
	padding: 0;
	top: 0;
	width: 48px;
}

#wpmoly-grid-builder #customize-action button.active {
	color: #888;
}

#wpmoly-grid-builder #customize-action button:hover {
	color: #aaa;
	cursor: pointer;
}

#wpmoly-grid-builder #save-action button {
	background: #fff;
	border: 0;
	border-radius: 0;
	box-shadow: 0 0 0;
	color: #0073aa;
	height: 48px;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 1px;
	top: 1px;
	width: 48px;
}

#wpmoly-grid-builder #save-action button:hover {
	color: #00a0d2;
	cursor: pointer;
}

#wpmoly-grid-builder #delete-action {
	height: 48px;
	margin: 0;
	overflow: hidden;
	position: absolute;
	right: 50px;
	top: 1px;
	width: 48px;
}

#wpmoly-grid-builder #delete-action a {
	background: #fff;
	box-shadow: 0 0 0;
	color: #de0c0c;
	height: 48px;
	overflow: hidden;
	position: absolute;
	width: 48px;
}

#wpmoly-grid-builder #delete-action a:after {
	background: #fff;
	color: #de0c0c;
	content: '\f182';
	font-family: 'dashicons' !important;
	font-size: 20px;
	height: 48px;
	left: 0;
	line-height: 48px;
	position: absolute;
	text-align: center;
	top: 0;
	width: 48px;
}

#wpmoly-grid-builder #delete-action a:hover::after {
	color: #f00;
}

@media screen and (min-width: 1280px) {
	#wpmoly-grid-builder .butterbean-ui.postbox .butterbean-content .butterbean-control.butterbean-control-radio-image.visible-labels .screen-reader-text {
		font-size: 1.25em;
		line-height: 3em;
		padding-left: 4em;
		width: calc( 100% - 4.55em );
	}
}

@media screen and (min-width: 1440px) {
	#wpmoly-grid-builder .butterbean-ui.postbox .butterbean-content .butterbean-control.butterbean-control-radio-image.visible-labels .screen-reader-text {
		font-size: 1.25rem;
		line-height: 3.5rem;
		padding-left: 4em;
		width: calc( 100% - 5.55rem );
	}
}
